<section>
    <h2>Create New Blog</h2>

    <form class="new-blog-form">
        <div>
            <label for="blog-title">Title</label>
            <input name="blog-title" type="text">
        </div>
        <div>
            <label for="blog-text">Content</label>
            <input name="blog-text" type="text">
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if blogs.length}}
<section>
    <h2>Your Blogs</h2>
    <ol>
        {{#each blogs as |blog|}}
        <li>
        <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit blog</a>
        <p>{{blog.title}}</p>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-blog.js"></script>